<h1>Plots</h1>


<ul>
  <% @plots.each do |plot| %>
    <div id="plot-<%=plot.id%>">
      <li>Plot: <%= plot.number %></li>
      Plants in this plot:
      <ul>
        <% plot.plants.each do |plant| %>
          <li><%= plant.name %><%= link_to "Remove this plant", "/plant_plots/#{plant.find_plant_plot(plot.id).id}", method: :delete %></li>
        <% end  %>
      </ul>
    </div>
  <% end %>
</ul>
